:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(#0f0c29, #302b63);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.titulo {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 5vw;
  font-weight: 600;
}

.subtitulo {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 3vw;
  font-weight: 600;
}

.padBoard {
  width: 90vw;
  background: #eeeeee6c;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 59%);
  border-radius: 30px;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(12, 1fr);
  padding: 2vh;
}

.pads {
  background-color: #f2f2f2;
  border-radius: 1vw;
  box-shadow: 3px 3px 0 var(--cinza);
  color: #240a41;
  cursor: pointer;
  height: 6.2vw;
  font-size: 1.8vw;
  font-weight: bold;
  text-align: center;
  width: 6.2vw;
}

.pads:hover {
  background-color: #f2f2f2a4;
}

.pads.ativa,
.pads:active {
  background-color: transparent;
  border: 4px solid #0f0c29;
  color: #240a41c1;
  outline: none;
}

.pads.focus,
.pads:focus {
  outline: none;
  box-shadow: 1px 1px 10px #0f0c29;
}

#btn_stop {
  margin: 25px;
  background-color: var(--vermelha);
  border-radius: 1vw;
  color: var(--branca);
  cursor: pointer;
  height: 6vw;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  width: 13vw;
}

#btn_stop:hover {
  background-color: #f2f2f2a4;
}

#btn_stop:focus {
  outline: none;
  box-shadow: 1px 1px 10px #0f0c29;
}
